<!DOCTYPE html>
<html>
    <head>
        <title>Board Games</title>
        <link rel="stylesheet" href="/css/welcome.css">
    </head>
    <body>
        <h1>Welcome to board games</h1>
        <h3>Play Board Games</h3>
        <div class="btns d-flex">
            <div class="game">
                <div id="sudoku-game">

                </div>
                <button id = "sudoku" class="btn">Play Sudoku</button>    
            </div>
            <div class="game">
                <div id="pacman-game">

                </div>
                <button id = "pacman" class="btn">Play Pacman</button>
            </div>
            <div class="game">
                <div id="tictactoe-game">

                </div>
                <button id="tictactoe" class="btn">Play tictactoe</button>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/welcome.js"></script>
</html>
