<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/sudoku.css">
        <link rel="stylesheet" href="/css/welcome.css">
    </head>
    <body>
        <header>
            <h1>Pacman Game</h1>
        </header>
        <div class = "d-flex">
           <div class = "lpac">
               <button class="btn" id = "new">New Game</button>
               <br>
               <br>
               <button class = "btn" id = "start">Start Game</button>
               <br>
               <br>
               <button class = "btn" id = "pause">Pause Game</button>
           </div>
           <div class = "rpac">
                   <table id = "t">
                           <tbody id="table">
                              
                           </tbody>
                    </table>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/pacman.js"></script>
</html>