<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/sudoku.css">
        <link rel="stylesheet" href="/css/welcome.css">
    </head>
    <body>
        <header>
            <h1>Tic-Tac-Toe</h1>
        </header>
        <div class = "d-flex">
           <div class = "l">
               <button class="btn" id = "new">New Game</button>
           </div>
           <div class = "r">
                   <table id = "tt" border="2">
                           <tbody id="table">
                              
                           </tbody>
                    </table>
            </div>
            <div class = "x">
                <p id="px">X</p>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tictactoe.js"></script>
</html>